.App {
  text-align: center;
}
body { 
  /* background-image: url("../src/Content/Images/bg.jpg"); */
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Image from https://wallpapercave.com/pokemon-hd-wallpaper */

input {
  box-sizing: border-box;
  font-size: 2rem;
  display: block;
  background-image: url("../src/Content/Images/pokeball.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.MuiGrid-container{
  padding: 1% 1.5%;
}